header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#login-container {
    display: none;
}

#shortener-container {
    display: none;
    text-align: center;
}

#shortener-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    margin-top: 1rem;
}

#links-table {
    margin: 1rem auto;
    border-collapse: collapse;
}

#logout-btn {
    margin-top: 2rem;
}

.form {
    padding: 2rem;
    background-color: burlywood;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

    label {
        display: block;
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #374151;
    }

    button {
        margin-top: 1rem;
        display: block;
    }
}

body {
    background-color: bisque;
}